    <form method="post" action="{{ path('cartera_delete', {'id': cartera.id}) }}" onsubmit="return confirm('Estas seguro de borrrar este elemento?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cartera.id) }}">
    
    <button type="button" class="btn btn-danger">Borrar</button>
    </form>

