<form method="post" action="{{ path('comercializacion_delete', {'id': comercializacion.id}) }}" onsubmit="return confirm('Estas seguro de borrar este item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comercializacion.id) }}">
    <button class="btn btn-danger">Borrar</button>
</form>
