{% extends 'base.html.twig' %}

{% block title %}New Comercializacion{% endblock %}

{% block body %}
    <h1>Crear nueva Comercializacion
    <span><i style="font-size:38px;" class="fas fa-magic text-dark ml-1"></i></span></h1>

    {{ include('comercializacion/_form.html.twig') }}

    <a class="btn btn-primary" role="button" href="{{ path('comercializacion_index') }}">Volver al listado</a>
{% endblock %}
