{% extends 'base.html.twig' %}

{% block title %}New Comercializacion{% endblock %}

{% block body %}
    <h1>Crear nueva Comercializacion</h1>

    {{ include('comercializacion/_form.html.twig') }}

    <a class="btn btn-primary" role="button" href="{{ path('comercializacion_index') }}">Volver al listado</a>
{% endblock %}
