{% extends 'base.html.twig' %}

{% block title %}New Propietario{% endblock %}

{% block body %}
    <h1>Crear nuevo Propietario 
    <span><i style="font-size:38px;" class="fas fa-magic text-dark ml-1"></i></span></h1>

    {{ include('propietario/_form.html.twig') }}

    <a class="btn btn-primary" role="button" href="{{ path('propietario_index') }}">Volver al listado</a>
{% endblock %}
