{% extends 'base.html.twig' %}

{% block title %}New Propietario{% endblock %}

{% block body %}
    <h1>Crear nuevo Propietario</h1>

    {{ include('propietario/_form.html.twig') }}

    <a class="btn btn-primary" role="button" href="{{ path('propietario_index') }}">Volver al listado</a>
{% endblock %}
