<form method="post" action="{{ path('uso_delete', {'id': uso.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ uso.id) }}">
    <button class="btn">Delete</button>
</form>
