{% extends 'base.html.twig' %}

{% block title %}Edit Uso{% endblock %}

{% block body %}
    <h1>Modificar Uso</h1>

    {{ include('uso/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-primary" role="button" href="{{ path('uso_index') }}">Volver al listado</a>

    {{ include('uso/_delete_form.html.twig') }}
{% endblock %}
