{% extends 'base.html.twig' %}

{% block title %}New Uso{% endblock %}

{% block body %}
    <h1>Create new Uso</h1>

    {{ include('uso/_form.html.twig') }}

    <a href="{{ path('uso_index') }}">back to list</a>
{% endblock %}
