<form method="post" action="{{ path('tipologia_delete', {'id': tipologium.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tipologium.id) }}">
    <button class="btn btn-danger">Borrar</button>
</form>
