{% extends 'base.html.twig' %}

{% block title %}Editar Tipologia{% endblock %}

{% block body %}
    <h1>Modificar Tipologia
    <span><i style="font-size:38px;" class="fas fa-pen text-dark ml-1"></i></span></h1>

    {{ include('tipologia/_form.html.twig', {'button_label': 'Guardar'}) }}

    <a class="btn btn-primary" role="button" href="{{ path('tipologia_index') }}">Volver al listado</a>

    {{ include('tipologia/_delete_form.html.twig') }}
{% endblock %}
