{% extends 'base.html.twig' %}

{% block title %}New Tipologia{% endblock %}

{% block body %}
    <h1>Crear nueva Tipologia</h1>

    {{ include('tipologia/_form.html.twig') }}

    <a class="btn btn-primary" role="button" href="{{ path('tipologia_index') }}">Volver al listado</a>
{% endblock %}
