{% extends 'base.html.twig' %}

{% block title %}New Status2{% endblock %}

{% block body %}
    <h1>Crear nuevo Status2
    <span><i style="font-size:38px;" class="fas fa-magic text-dark ml-1"></i></span></h1>

    {{ include('status2/_form.html.twig') }}

    <a class="btn btn-primary" role="button" href="{{ path('status2_index') }}">Volver al listado</a>
{% endblock %}
