<form method="post" action="{{ path('status1_delete', {'id': status1.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ status1.id) }}">
    <button class="btn">Delete</button>
</form>
