{% extends 'base.html.twig' %}

{% block title %}Edit Status1{% endblock %}

{% block body %}
    <h1>Modificar Status1
    <span><i style="font-size:38px;" class="fas fa-pen text-dark ml-1"></i></span></h1>

    {{ include('status1/_form.html.twig', {'button_label': 'Guardar'}) }}

    <a class="btn btn-primary" role="button" href="{{ path('status1_index') }}">Volver al listado</a>

    {{ include('status1/_delete_form.html.twig') }}
{% endblock %}
