{% extends 'base.html.twig' %}

{% block title %}New Status1{% endblock %}

{% block body %}
    <h1>Crear nuevo Status1</h1>

    {{ include('status1/_form.html.twig') }}

    <a class="btn btn-primary" role="button" href="{{ path('status1_index') }}">Volver al listado</a>
{% endblock %}
