{% if inmueble.m2superficie is not empty %} <li>M2 superficie: {{inmueble.m2superficie}}</li> {% endif %}
{% if inmueble.pozo is not empty %} <li>Pozo </li> {% endif %}
{% if inmueble.aperos is not empty %} <li>Nave de Aperos </li> {% endif %}