{% if inmueble.m2superficie is not empty %} <li>M2 superficie: {{inmueble.m2superficie}}</li> {% endif %}
{% if inmueble.suministroagua is not empty %} <li>Suministro agua </li> {% endif %}
{% if inmueble.suministroelectricidad is not empty %} <li>Suministro electricidad </li> {% endif %}