 <div class="form-group row">
    <label class="col-sm-4 col-form-label" for="m2construido">M2 Construidos</label>
    <div class="col-sm-8">
    <input type="number" class="form-control form-control-md" name="m2construido" placeholder="M2 Construidos" min="1" required>
    </div>
 </div>
  <div class="form-group row">
    <label class="col-sm-4 col-form-label" for="anoconstruccion">A単o Construccion</label>
    <div class="col-sm-8">
    <input type="number" class="form-control form-control-md" name="anoconstruccion" placeholder="A単o Construccion" min="1850" max="2021" required>
    </div>
 </div>
 <div class="form-group row">
    <label class="col-sm-4 col-form-label" for="banos">Ba単os</label>
    <div class="col-sm-8">
    <input type="number" class="form-control form-control-md" name="banos" placeholder="Ba単os" min="1" required>
    </div>
 </div>
  <div class="form-group row">
    <label class="col-sm-4 col-form-label" for="dormitorios">Dormitorios</label>
    <div class="col-sm-8">
    <input type="number" class="form-control form-control-md" name="dormitorios" placeholder="dormitorios" min="1" required>
    </div>
 </div>
 <div class="form-group row">
   <div class="col-sm-6">
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="cocina" name="cocina">
            <label class="custom-control-label " for="cocina">Cocina</label>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="calefaccion" name="calefaccion">
            <label class="custom-control-label" for="calefaccion">Calefaccion</label>
        </div>
    </div>
</div>
<div class="form-group row">
    <div class="col-sm-6">
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="aireacondicionado" name="aireacondicionado">
            <label class="custom-control-label" for="aireacondicionado">Aire Acondionado</label>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="garaje" name="garaje">
            <label class="custom-control-label" for="garaje">Garaje</label>
        </div>
    </div>
</div>
<div class="form-group row">
    <div class="col-sm-6">
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="piscina" name="piscina">
            <label class="custom-control-label " for="piscina">Piscina</label>
        </div>
    </div>
</div>
