{% if inmueble.m2construido is not empty %} <li> M2 construidos: {{inmueble.m2construido}} </li> {% endif %}
{% if inmueble.anoconstruccion is not empty %} <li>Año construccion: {{inmueble.anoconstruccion}}</li> {% endif %}
{% if inmueble.banos is not empty %} <li>Baños: {{inmueble.banos }} </li> {% endif %}
{% if inmueble.licactividad is not empty %} <li>Lic. Actividad</li> {% endif %}
{% if inmueble.certenergetico is not empty %} <li>Cert. Energético</li> {% endif %}