{% if inmueble.m2construido is not empty %} <li> M2 construidos: {{inmueble.m2construido}} </li> {% endif %}
{% if inmueble.anoconstruccion is not empty %} <li>Año construccion: {{inmueble.anoconstruccion}}</li> {% endif %}
{% if inmueble.plantas is not empty %} <li>Plantas: {{inmueble.plantas }} </li> {% endif %}
