{% extends 'base.html.twig' %}

{% block title %}Listado de Inmuebles{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <div class="row mt-5">
                <div class="col ">
                    <h1>Listado inmuebles
                <span><i style="font-size:38px;" class="fas fa-clipboard-list text-dark ml-1"></i></span></h1>
                </div>
            </div>

            <div class="row mt-1 bg-dark rounded">
                <div class="col">
                {# form filtros #}
                    {{  include('inmueble/_form_filtros_inmueble.html.twig')}}
                </div>
            </div>
            
            <div class="row mt-3">
                <div class="col ">
                   {#  listado fake #}
                   <div class="row" >
                       <div class="col-md-3">
                            {# PRUEBA OK <img src="{{asset('images/img_610c196fb5db7.JPG')}}" alt="" srcset="" class="img-fluid"> #}
                            <img src="{{asset('images/img_610c184f08aa0.JPG')}}" alt="" srcset="" class="img-fluid rounded">
                       </div>
                       <div class="col-md-9  bg-acqua rounded">
                            <h1 class="text-white">Tipologia, localidad</h1>
                            <h2 class="text-white">6000000 €</h2>
                            <p class="text-marine" >Vivienda en una sola planta, con 5 dormitorios (unos de ellos despacho), 
                            salón independiente con chimenea y cristales blindados de alta gama, cocina de 20 m2.</p>
                            <div class="bg-marine rounded">
                                <span class="ml-2"><i class="far fa-square"></i> 44 m2</span><span class="ml-2"><i class="fas fa-bed"></i> 3 </span><span class="ml-2"><i class="fas fa-toilet"></i> 2 </span>
                            </div>
                       </div>
                   </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}
