{% extends 'base.html.twig' %}

{% block title %}Hello PublicController!{% endblock %}

{% block body %}
    <div class="row mt-5">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <img class="img-fluid rounded mx-auto d-block" id="home" src="{{ asset('img/home/city.png') }}" alt="" srcset="" >
            <h1 class="text-dark text-center mt-2">Iber casa</h1>
            <h3 class ="text-purple2 text-center">Bienvenido a la republica independiente de tu casa</h3>
        </div>
        <div class="col-md-3"></div>
    </div>
{% endblock %}
